---
# front matter
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap'); 

a {
  color: #b86447;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

body {
  font-family: 'Spectral', serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

html {
  font-size: 100%; }

.navbar-nav a{
    font-family: 'Oxygen', sans-serif !important;
}

.btn-primary {
  background-color: #a4ac86;
  border-color: #a4ac86;
  outline-color: #a4ac86;
}

.btn-primary:hover {
    background-color: #99a277;
    border-color: #99a277;
    outline-color: #99a277;
}

.btn-primary:focus {
    background-color: #99a277;
    border-color: #99a277;
    outline-color: #99a277;
    box-shadow: #a4ac86;
}

.btn-primary:active {
    background-color: #99a277;
    border-color: #99a277;
    outline-color: #99a277;
    box-shadow: #a4ac86;
}

.btn-info {
  background-color: #bf7459;
  border-color: #bf7459;
  outline-color: #bf7459;
}

.btn-info:hover {
  background-color: #b86447;
  border-color: #b86447;
  outline-color: #b86447;
}

// base variables
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1500px;
$on-phone:          550px;
$on-palm:          800px;
$on-laptop:        800px;
$on-regular:        1000px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "layout"
;
