<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include head.html %}
  </head>

  <body>
    {% include site-banner.html %}
    {% include site-nav.html %}
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item ">
                    <a class="nav-link " href="/gillis-2021/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Browse Letters</a>
                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item " href="/gillis-2021/browse.html">By Item</a>
                        
                        <a class="dropdown-item active" href="/gillis-2021/subjects.html">By Subject</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/map.html">By Location</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/timeline.html">By Time</a>
                        
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Meet the Correspondents</a>
                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item " href="/gillis-2021/teruko.html">Teruko Ikeda</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/sumi.html">Sumi Mototsune</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/tad.html">Tad Nagamori</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/yoshio.html">Yoshio Nakamura</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/albert.html">Albert Ohama</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/jackie.html">Jackie Takahashi</a>
                        
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Explore Themes</a>
                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item " href="/gillis-2021/education.html">Education</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/homelife.html">Homelife</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/labour.html">Labour</a>
                        
                        <a class="dropdown-item " href="/gillis-2021/communications.html">Communications</a>
                        
                    </div>
                </li>
                
                
                <li class="nav-item ">
                    <a class="nav-link " href="/gillis-2021/about.html">About</a>
                </li></ul>
            
    
            
        </div>
    </div>
</nav>
    
    <main role="main mt-4 tufte-content">
      <article>
      {{ content }}
    </article>
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scrolltop.html %}

  </body>

</html>
